# Python 缓存
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# 虚拟环境（最重要！）
venv/
ENV/
env/
.env
.venv/

# IDE 配置
.idea/
.vscode/
*.swp
*.swo

# 日志、数据库
log/
*.log
*.sqlite3